body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}
* {
  padding:0;
  margin:0;
}

html{
  font:14px normal Arial, sans-serif;
  color:#626771;
  background-color:#fff;
}

body{
  padding:60px;
  text-align: center;
}

ul{
  list-style:none;
  display: inline-block;
}

ul li{
  display: inline-block;
  padding: 10px 20px;
  cursor:pointer;
  background-color:#eee;
  color:#7B8585;

  transition:0.3s;
}

ul li:hover{
  background-color:#beecea;
}

ul li.focused{
  color:#fff;
  background-color:#41c7c2;
}

p{
  padding-top:15px;
  font-size:12px;
}

button{
  background-color:#ed8223;
  color:#fff;
  font-family:'Helvetica Neue',sans-serif;
  font-size:15px;
  line-height:30px;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border:0;
  text-shadow:#C17C3A 0 -1px 0;
  width:120px;
  height:32px
}

button:hover{
  background-color:#beecea;
}

button.focused{
  color:#fff;
  background-color:#41c7c2;
}


